<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>1x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,804},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>1x1Player.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,814},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>1x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,398},{196,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,404}}</string>
                <key>sourceSize</key>
                <string>{196,404}</string>
            </dict>
            <key>1x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,200},{196,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,612}}</string>
                <key>sourceSize</key>
                <string>{196,612}</string>
            </dict>
            <key>1x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{196,820}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,820}}</string>
                <key>sourceSize</key>
                <string>{196,820}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1002},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>2x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{404,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,196}}</string>
                <key>sourceSize</key>
                <string>{404,196}</string>
            </dict>
            <key>2x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{404,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,404}}</string>
                <key>sourceSize</key>
                <string>{404,404}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1012},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>3x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{612,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,196}}</string>
                <key>sourceSize</key>
                <string>{612,196}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1019},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>4x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{820,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,196}}</string>
                <key>sourceSize</key>
                <string>{820,196}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1234},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1241},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ExitArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1002},{112,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,62}}</string>
                <key>sourceSize</key>
                <string>{112,62}</string>
            </dict>
            <key>ExitBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,824},{196,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,28}}</string>
                <key>sourceSize</key>
                <string>{196,28}</string>
            </dict>
            <key>Hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,854},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShapesAtlas-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d90f123fe91191a7baf48ea5929e886:4ccf335b95a6fa8799724751ac6c47fd:cc8c03a5ff13aeb4c8ccbf1f43a240f0$</string>
            <key>textureFileName</key>
            <string>ShapesAtlas-ipadhd.png</string>
        </dict>
    </dict>
</plist>
