<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Block1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Block2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,99},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Block3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,99},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>Block4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,438},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>GCButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,147},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>InfoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,378},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>MusicOffButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,378},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>MusicOnButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,244},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>PlayButtonStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>ReplayButtonPaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>RestoreButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,141},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>SettingsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ShareFBButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,341},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>SideBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>SocialButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,238},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>SoundOffButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>SoundOnButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,99},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>U.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,278},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StartAtlas-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f520a3c597b0f28d7e47a3b6cd63086:e9460fbeaaf77c00d68b58f21d7fea29:b09123780645dd45acc152cbeff4abbb$</string>
            <key>textureFileName</key>
            <string>StartAtlas-hd.png</string>
        </dict>
    </dict>
</plist>
