<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Block1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Block2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,940},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Block3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,194},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Block4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,866},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>GCButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,290},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>InfoButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>MusicOffButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,748},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>MusicOnButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,482},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>P.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>PlayButtonStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>ReplayButtonPaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>RestoreButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,194},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>SettingsButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>ShareFBButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,674},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>SideBlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{258,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,256}}</string>
                <key>sourceSize</key>
                <string>{258,256}</string>
            </dict>
            <key>SocialButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>SoundOffButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,194},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>SoundOnButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,386},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>U.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,550},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StartAtlas-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f520a3c597b0f28d7e47a3b6cd63086:e9460fbeaaf77c00d68b58f21d7fea29:b09123780645dd45acc152cbeff4abbb$</string>
            <key>textureFileName</key>
            <string>StartAtlas-ipadhd.png</string>
        </dict>
    </dict>
</plist>
